#
*.un~
*.swp


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Temporary test resources
tst/output/*.esp

*.DS_Store
.idea

# vcpkg
vcpkg_installed

# build
CMakeFiles
cmake-build-*
build